.logo-devbank {
  width: 650px;
  height: auto;
  margin: 0 auto;
  display: block;
}

.primeira-pagina {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background-color: #b5d8f8; 
  color: #b5d8f8;
  text-align: center;
  padding: 20px;
}

.container-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.input-link {
  padding: 10px 15px;
  width: 750px;
  height: 50px;
  border: none;
  border-radius: 15px;
  font-size: 2rem;
}

.botao-link {
  width: 120px;
  padding: 10px 20px;
  margin: 40px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.botao-link:hover {
  background-color: rgb(1, 1, 77);
}

.pagina {
  background-color: #f0f7ff;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

.topo {
  background-color: #0078e7;
  color: white;
  padding: 0rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 0rem;
  font-weight: bold;
}

.destaque {
  color: pink;
  text-shadow: 2px 2px purple;
}

.info-usuario {
  background: white;
  color: black;
  padding: 0.5rem;
  border-radius: 8px;
}

.conteudo {
  padding: 1rem;
}

.cabecalho-acao {
  background-color: #b3d8ff;
  color:rgb(0, 0, 0);
  padding: 0rem;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

.cards-opcoes {
  display: flex;
  gap: 3rem;
  justify-content: center;
}

.card-opcao {
  background-color: #75b9ff;
  padding: 10rem 2rem;
  text-align: center;
  font-size: 2rem;
  border-radius: 10px;
  color: white;
  width: 200px;
  cursor: pointer;
  transition: transform 0.2s;
}

.card-opcao:hover {
  transform: scale(1.05);
}

.saldo {
  background-color: #5398e2;
  color:rgb(0, 0, 0);
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-size: 2rem;
  width: 40%;
}